body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Color de fondo gris claro */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #FFFFFF; /* Blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.chat-container {
    flex: 1;
}

.chat-messages {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.message.sent {
    background-color: #007bff; /* Azul Turquesa */
    color: #fff;
    align-self: flex-end;
}

.message.received {
    background-color: #f2f2f2; /* Color de fondo gris claro */
    color: #000;
    align-self: flex-start;
}

.input-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0056b3; /* Azul Oscuro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff; /* Azul Turquesa */
}

.translator {
    flex: 1;
    margin-left: 20px;
}

.translator h3 {
    color: #FF6F61; /* Color Rosa Miami */
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.translated-message {
    margin-top: 10px;
}

#translated-text {
    font-weight: bold;
    color: #007bff; /* Azul Turquesa */
}
