/* Estilos personalizados para la página de inicio */

body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.lead {
    font-size: 18px;
    line-height: 1.6;
}