* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v522_6013 {
  width: 100%;
  height: 720px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v522_6014 {
  width: 100%;
  height: 550px;
  background: url("../images/v522_6014.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 135px;
  overflow: hidden;
}
.v522_6015 {
  width: 100%;
  height: 550px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v522_6016 {
  width: 585px;
  height: 550px;
  background: url("../images/v522_6016.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v522_6017 {
  width: 400px;
  height: 400px;
  background: url("../images/v522_6017.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 92px;
  overflow: hidden;
}
.v522_6018 {
  width: 400px;
  height: 336px;
  background: url("../images/v522_6018.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v522_6019 {
  width: 100px;
  color: rgba(33,43,54,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v522_6020 {
  width: 400px;
  height: 258px;
  background: url("../images/v522_6020.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v522_6024 {
  width: 400px;
  height: 24px;
  background: url("../images/v522_6024.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 23px;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 0px;
  overflow: hidden;
}
.v522_6025 {
  width: 136px;
  color: rgba(99,115,129,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v522_6026 {
  width: 241px;
  color: url("../images/v522_6026.png");
  position: absolute;
  top: 0px;
  left: 159px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v522_6027 {
  width: 585px;
  height: 550px;
  background: url("../images/v522_6027.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 585px;
  overflow: hidden;
}
.v522_6028 {
  width: 585px;
  height: 550px;
  background: rgba(48,86,211,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v522_6029 {
  width: 585px;
  height: 550px;
  background: rgba(55,88,249,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v522_6030 {
  width: 495px;
  height: 495px;
  background: linear-gradient(rgba(255,255,255,0.1599999964237213), rgba(255,255,255,0));
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 80px;
  border-radius: 50%;
}
.v522_6031 {
  width: 85px;
  height: 85px;
  background: linear-gradient(rgba(255,255,255,0.1599999964237213), rgba(255,255,255,0));
  opacity: 1;
  position: absolute;
  top: 490px;
  left: 415px;
  border-radius: 50%;
  transform: rotate(-90deg);
}
.v522_6032 {
  width: 354px;
  height: 354px;
  background: linear-gradient(rgba(255,255,255,0.20000000298023224), rgba(255,255,255,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 177px;
  border-radius: 50%;
}
.v522_6033 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 393px;
  left: 55px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
