body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Color de fondo gris claro */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #FFFFFF; /* Blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header h1 {
    color: #FF6F61; /* Color Rosa Miami */
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 24px;
    color: #007bff; /* Azul Turquesa */
}

.video-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

video {
    width: 45%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.controls {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #0056b3; /* Azul Oscuro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff; /* Azul Turquesa */
}
