<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Inter&display=swap') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="v522_6013">
      <div class="v522_6014">
        <div class="v522_6015"></div>
        <div class="v522_6016"></div>
        <div class="v522_6017">
          <div class="v522_6018">
            <span class="v522_6019">Sign In</span>
            <div class="v522_6020">
              <div class="name"></div>
              <div class="name"></div>
              <div class="name"></div>
            </div>
          </div>
          <div class="v522_6024">
            <span class="v522_6025">Forget Password?</span
            ><span class="v522_6026">Don't have an account? Sign Up</span>
          </div>
        </div>
        <div class="v522_6027">
          <div class="v522_6028"></div>
          <div class="v522_6029"></div>
          <div class="v522_6030"></div>
          <div class="v522_6031"></div>
          <div class="v522_6032"></div>
          <span class="v522_6033">Hey Welcome Back</span>
        </div>
      </div>
    </div>
  </body>
</html>
