<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro_exitoso.css') }}"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Registro Exitoso</h1>
            <p>Tu cuenta ha sido creada con éxito.</p>
        </div>
        <div class="btn-container">
            <a href="index.html" class="btn">Ir al Home</a>
        </div>
    </div>
</body>
</html>
