<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/video.css') }}"
    />
    <title>Videollamada</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Videollamada</h1>
        <div class="user-info">
          <img src="{{ url_for('static', filename='img/cat.png') }}" alt="Avatar" class="avatar" />
          <span class="username">Nombre de Usuario</span>
        </div>
      </div>
      <div class="video-container">
        <video id="local-video" autoplay muted></video>
        <video id="remote-video" autoplay></video>
      </div>
      <div class="controls">
        <button id="start-call">Iniciar Llamada</button>
        <button id="end-call">Finalizar Llamada</button>
      </div>
    </div>
  </body>
</html>
